<div class="footer">
  <div class="footer-container">
    <div class="div-block-7">
      <a href="index.html" aria-current="page" class="w-inline-block w--current"><%= image_tag("green_flight_club_logo_white.svg", :loading =>"lazy", :alt =>"Website Logo") %></a>
      <div class="div-block-15">
        <a href="imprint.html" class="footer-link">imprint</a>
        <a href="data-privacy.html" class="footer-link">data privacy</a>
      </div>
    </div>
  </div>
</div>
