<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
  <div class="container-navbar w-container">
    <a href="index.html" target="_blank" class="brand-2 w-nav-brand">
      <%= image_tag("green_flight_club_logo_grey.svg", :loading =>"lazy", :alt =>"Website Logo", :class => "image-2") %>
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a href="index.html" target="_blank" class="nav-link grey w-nav-link">About</a>
      <a href="index.html" target="_blank" class="nav-link grey w-nav-link">Initiators</a>
      <a href="#" class="nav-link right-navbar-link grey w-nav-link">Offset Calculator</a>
    </nav>
    <div class="menu-button-2 w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
